*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

h2{
    font-size: xx-large;
    color: orangered;
    text-align: center;
    text-decoration: underline;
}
#btn{
    color: burlywood;
    background-color: orangered;
    box-shadow: burlywood;
    margin-left: 50em;
    margin-top: 10px;
}
#Result{
    text-align: center;
    color: orangered;
    font-style: italic;
    text-transform: uppercase;
    font-size: 5rem;
}
body{
    background-color: burlywood;
}